/* Footer wrapper */

.footer__wrapper {
    @include padding(4em, 4em);
    @include vendor('transition', 'transform #{_duration(panel)} ease');
    background: transparentize(_palette(bg), 0.025);
    left: 0;
    max-height: calc(80vh - #{_size(header)});
    overflow-y: auto;
    width: 100%;
    z-index: _misc(z-index-base) + 1;

    > .inner {
        margin: 0 auto;
        max-width: 100%;
        width: 75em;

        &.split {
            @include vendor('display', 'flex');

            > div {
                margin-left: 4em;
                width: 50%;
            }

            > :first-child {
                margin-left: 0;
            }

            @media screen and (max-width: 480px) {
                @include vendor('display', 'block');

                > div {
                    width: 100%;
                    margin: 0 auto;

                    .actions {

                        input {
                            margin: 1em 0;
                        }
                    }
                }
            }
        }
    }
}