/* Footer */

#footer {
    background-image: url("../../../images/bg-i-cosmos.jpg");

    .about__text {
        padding: 1.5em;
        border: 1px solid #ffcb20;
        color: _palette(text-blue);
    }
}